#admin_cat li{
display:block;
float:right;

border-right: 2px solid;
padding: 5px;
text-align: center;
font-size: 130%;


}
#admin_cat a{


}

#admin_cat{

border:1px solid;
border-radius: 3px;
height:50px;

}